{% extends 'layout/base.html' %}

{% block 'tittle' %} Contacts {% endblock %}

{% block 'content' %}
<h1>Contacts</h1>

{% include 'contact/partials/search.html'%}
{% include 'contact/partials/by_initial.html' %}

<span class='aux-btns'><a href="{% url 'contact' %}">View All</a> <a href="{% url 'contact_create' %}">Add</a></span>
<ul class='list'>
    {% for contact in contacts %}
    <li>{{ contact }}
        <span>
            <a href="{% url 'contact_view' id=contact.id  %}" class='btn btn-detail'>View</a>
            <a href="{% url 'contact_edit' id=contact.id  %}" class='btn btn-edit'>Edit</a>
            <a href="{% url 'contact_delete' id=contact.id %}" class='btn btn-delete'>Delete</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
